In [1]:
import seaborn as sns;
import pandas as pd;
from sklearn.neighbors import KNeighborsClassifier as KNN
sns.set

# charger le dataset
IBM = pd.read_csv(r"/content/IBM_HR_ATTRITION.csv")
IBM_df = IBM

In [2]:
IBM_df = IBM

In [3]:
IBM_df

      Age Attrition  ... YearsSinceLastPromotion  YearsWithCurrManager
0      41       Yes  ...                       0                     5
1      49        No  ...                       1                     7
2      37       Yes  ...                       0                     0
3      33        No  ...                       3                     0
4      27        No  ...                       2                     2
...   ...       ...  ...                     ...                   ...
1465   36        No  ...                       0                     3
1466   39        No  ...                       1                     7
1467   27        No  ...                       0                     3
1468   49        No  ...                       0                     8
1469   34        No  ...                       1                     2

[1470 rows x 35 columns]

In [4]:
Y = IBM_df['Attrition'].astype('category').cat.codes
Y

0       1
1       0
2       1
3       0
4       0
       ..
1465    0
1466    0
1467    0
1468    0
1469    0
Length: 1470, dtype: int8

In [5]:
X = IBM_df.drop(['Attrition','EmployeeCount','Education','MonthlyRate','Over18','WorkLifeBalance','DailyRate','PerformanceRating','StockOptionLevel'], axis = 1)
X

      Age     BusinessTravel  ... YearsSinceLastPromotion  YearsWithCurrManager
0      41      Travel_Rarely  ...                       0                     5
1      49  Travel_Frequently  ...                       1                     7
2      37      Travel_Rarely  ...                       0                     0
3      33  Travel_Frequently  ...                       3                     0
4      27      Travel_Rarely  ...                       2                     2
...   ...                ...  ...                     ...                   ...
1465   36  Travel_Frequently  ...                       0                     3
1466   39      Travel_Rarely  ...                       1                     7
1467   27      Travel_Rarely  ...                       0                     3
1468   49  Travel_Frequently  ...                       0                     8
1469   34      Travel_Rarely  ...                       1                     2

[1470 rows x 26 columns]

In [6]:
dummies = pd.get_dummies(X[['BusinessTravel','Department','EducationField','Gender','JobRole','MaritalStatus','EmployeeNumber']], columns=['BusinessTravel','Department','EducationField','Gender','JobRole','MaritalStatus'])
dummies

      EmployeeNumber  ...  MaritalStatus_Single
0                  1  ...                     1
1                  2  ...                     0
2                  4  ...                     1
3                  5  ...                     0
4                  7  ...                     0
...              ...  ...                   ...
1465            2061  ...                     0
1466            2062  ...                     0
1467            2064  ...                     0
1468            2065  ...                     0
1469            2068  ...                     0

[1470 rows x 27 columns]

In [7]:
X = X.drop(['BusinessTravel','Department','EducationField','Gender','JobRole','MaritalStatus'], axis= 1)

In [8]:
X.OverTime = IBM_df['OverTime'].astype('category').cat.codes

In [9]:
X

      Age  DistanceFromHome  ...  YearsSinceLastPromotion  YearsWithCurrManager
0      41                 1  ...                        0                     5
1      49                 8  ...                        1                     7
2      37                 2  ...                        0                     0
3      33                 3  ...                        3                     0
4      27                 2  ...                        2                     2
...   ...               ...  ...                      ...                   ...
1465   36                23  ...                        0                     3
1466   39                 6  ...                        1                     7
1467   27                 4  ...                        0                     3
1468   49                 2  ...                        0                     8
1469   34                 8  ...                        1                     2

[1470 rows x 20 columns]

In [10]:
X = X.merge(dummies, on='EmployeeNumber', how='left')

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
splits = train_test_split(X,Y,
                          test_size=0.20,
                          random_state=0)

for each in splits:
  print(each.shape)
X_train, X_test, Y_train, Y_test = splits
scaler = StandardScaler()

(1176, 46)
(294, 46)
(1176,)
(294,)

In [12]:
def accuracy(preds, Y):
  return ((preds == Y).sum() / len(Y)* 100)

In [185]:
#La fonction permet d'appeler les différents algorithmes, il faut donner son acronyme.
#Une fois l'algo choisi il faut pour obtenir une bonne comparaison fournir un nombre à "test_value()"

def algo(algo):
  if (algo == 'KNN'):
    trainingKNN(3, 25)
  elif (algo == 'SVC'):
    trainingSVC(32)
  elif (algo == 'LR'):
    trainingLR(46)

# Voici la sorti typique d'un algo

# L'algorithme Support Vector Classification est précis à  90.1360544217687 %
# Si la vérité est 0 : L'employée est parti 
# Si la vérité est 1 : L'employée est resté
# L'employé numéro 46 en prédiction est parti . La vérité c'est : 0

In [178]:
algo('LR')

L'algorithme Support Vector Classification est précis à  90.1360544217687 %
Si la vérité est 0 : L'employée est parti
Si la vérité est 1 : L'employée est resté
L'employé numéro 46 en prédiction est parti . La vérité c'est : 0

In [172]:
def testing_value(test_value):
  if prediction[test_value] == 1:
    test_valueResult = 'resté'
  else:
    test_valueResult = 'parti'

  print('Si la vérité est 0 : L\'employée est parti \nSi la vérité est 1 : L\'employée est resté')
  print('L\'employé numéro', test_value , 'en prédiction est', test_valueResult , '. La vérité c\'est :', Y[test_value])

# **KNN méthode**

In [182]:
def trainingKNN (n_neighbors, test_value):

  knn = KNN(n_neighbors=n_neighbors)
  knn.fit(X_train,Y_train)
  prediction = knn.predict(X_test)
  print('L\'algorithme KNeighborsClassifier avec n_neighbors =' , n_neighbors , 'est précis à ', accuracy(prediction,Y_test), '%')

  testing_value(test_value)

In [145]:
from sklearn.metrics import confusion_matrix
confusion_matrix(Y_test,prediction)

array([[243,   2],
       [ 47,   2]])

# **SVC méthode**

In [16]:
from sklearn.svm import SVC

In [181]:
svc = SVC(gamma='auto')

def trainingSVC(test_value):
  svcTrained = svc.fit(X_train,Y_train)
  prediction = svcTrained.predict(X_test)
  print('L\'algorithme Support Vector Classification est précis à ', accuracy(prediction,Y_test), '%')

  testing_value(test_value)

In [101]:
from sklearn.metrics import confusion_matrix
confusion_matrix(Y_test,prediction)

array([[243,   2],
       [ 47,   2]])

# **Méthode Regression logistique**

In [88]:
from sklearn.linear_model import LogisticRegression as LR

In [180]:
def trainingLR(test_value):
  lr = LR(max_iter=10000)
  lrTrained = lr.fit(X_train,Y_train)
  prediction = lrTrained.predict(X_test)
  acc = accuracy(prediction,Y_test)
  print('L\'algorithme Support Vector Classification est précis à ', acc, '%')
  
  testing_value(test_value)

In [179]:
from sklearn.metrics import confusion_matrix
confusion_matrix(Y_test,prediction)

array([[243,   2],
       [ 47,   2]])