In [21]:
import seaborn as sns;
import pandas as pd;
import numpy as np
from sklearn.ensemble import RandomForestClassifier as RF
from sklearn.svm import SVC
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier as KNN
sns.set

# charger le dataset
IBM = pd.read_csv(r"/content/IBM_HR_ATTRITION.csv")
IBM_df = IBM

In [52]:
IBM_df = IBM

In [4]:
IBM_df

      Age Attrition  ... YearsSinceLastPromotion  YearsWithCurrManager
0      41       Yes  ...                       0                     5
1      49        No  ...                       1                     7
2      37       Yes  ...                       0                     0
3      33        No  ...                       3                     0
4      27        No  ...                       2                     2
...   ...       ...  ...                     ...                   ...
1465   36        No  ...                       0                     3
1466   39        No  ...                       1                     7
1467   27        No  ...                       0                     3
1468   49        No  ...                       0                     8
1469   34        No  ...                       1                     2

[1470 rows x 35 columns]

In [22]:
Y = IBM_df['Attrition'].astype('category').cat.codes
Y

0       1
1       0
2       1
3       0
4       0
       ..
1465    0
1466    0
1467    0
1468    0
1469    0
Length: 1470, dtype: int8

In [53]:
X = IBM_df.drop(['Attrition','EmployeeCount','Education','MonthlyRate','Over18','WorkLifeBalance','DailyRate','PerformanceRating','StockOptionLevel'], axis = 1)
X

      Age     BusinessTravel  ... YearsSinceLastPromotion  YearsWithCurrManager
0      41      Travel_Rarely  ...                       0                     5
1      49  Travel_Frequently  ...                       1                     7
2      37      Travel_Rarely  ...                       0                     0
3      33  Travel_Frequently  ...                       3                     0
4      27      Travel_Rarely  ...                       2                     2
...   ...                ...  ...                     ...                   ...
1465   36  Travel_Frequently  ...                       0                     3
1466   39      Travel_Rarely  ...                       1                     7
1467   27      Travel_Rarely  ...                       0                     3
1468   49  Travel_Frequently  ...                       0                     8
1469   34      Travel_Rarely  ...                       1                     2

[1470 rows x 26 columns]

In [56]:
dummies = pd.get_dummies(X, columns=['BusinessTravel','Department','EducationField','Gender','JobRole','MaritalStatus'])
dummies

      Age  DistanceFromHome  ...  MaritalStatus_Married  MaritalStatus_Single
0      41                 1  ...                      0                     1
1      49                 8  ...                      1                     0
2      37                 2  ...                      0                     1
3      33                 3  ...                      1                     0
4      27                 2  ...                      1                     0
...   ...               ...  ...                    ...                   ...
1465   36                23  ...                      1                     0
1466   39                 6  ...                      1                     0
1467   27                 4  ...                      1                     0
1468   49                 2  ...                      1                     0
1469   34                 8  ...                      1                     0

[1470 rows x 46 columns]

In [57]:
X = X.drop(['BusinessTravel','Department','EducationField','Gender','JobRole','MaritalStatus'], axis= 1)

In [61]:
X.OverTime = IBM_df['OverTime'].astype('category').cat.codes

In [59]:
X = X.merge(businessTravelDummies)

In [63]:
X

      Age  DistanceFromHome  ...  MaritalStatus_Married  MaritalStatus_Single
0      41                 1  ...                      0                     1
1      49                 8  ...                      1                     0
2      37                 2  ...                      0                     1
3      33                 3  ...                      1                     0
4      27                 2  ...                      1                     0
...   ...               ...  ...                    ...                   ...
1465   36                23  ...                      1                     0
1466   39                 6  ...                      1                     0
1467   27                 4  ...                      1                     0
1468   49                 2  ...                      1                     0
1469   34                 8  ...                      1                     0

[1470 rows x 46 columns]

In [64]:
from sklearn.model_selection import train_test_split

splits = train_test_split(X,Y,
                          train_size = 0.3,
                          stratify = Y,
                          random_state=2)

for each in splits:
  print(each.shape)
X_train, Y_train, X_test, Y_test = splits

(441, 46)
(1029, 46)
(441,)
(1029,)

In [69]:
knn = KNN(n_neighbors=3)
knnX = knn.fit(X_train,X_test)
knnY = knn.fit(Y_train,Y_test)

prediction = knn.predict(X_train)

In [70]:
print(prediction)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0
 0 1 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0
 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 1 1 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 1 0 0
 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0]

In [73]:
def accuracy(preds, Y):
  return ((preds == Y).sum() / len(Y)* 100)

In [78]:
print('L\'algorithme KNeighborsClassifier avec n_neighbors = 3 est précis à ', accuracy(prediction,X_test), '%')

L'algorithme KNeighborsClassifier avec n_neighbors = 3 est précis à  79.13832199546485 %